---
import ProfileLayout from "@frontend/src/layouts/ProfileLayout.astro";
import { apiClient } from "@frontend/src/utils/eden";
import { statusRender } from "@frontend/src/utils/status";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import { ProfileFormsSentItemsProvider } from "@frontend/src/components/profile/forms/FormsSentItems";
dayjs.extend(localizedFormat);
import "dayjs/locale/ru";

export const prerender = false;
const accessToken = Astro.cookies.get("x-token")?.value;

const { id } = Astro.params;

const { data, status } = await apiClient.api.forms[id!].get({
  $headers: {
    Authorization: `Bearer ${accessToken}`,
  },
});

if (status == 404 || status == 500) {
  return statusRender(404, `${Astro.site}404`);
}

if (status == 401) {
  return Astro.redirect("/login");
}

if (status == 403) {
  return statusRender(403, `${Astro.site}403`);
}

const { data: countStatistics } = await apiClient.api.forms[id!].counts.get({
  $headers: {
    Authorization: `Bearer ${accessToken}`,
  },
});

const statuses = {
  new: {
    name: "Новое",
    color: "#FFB800",
  },
  sent: {
    name: "Отправлено",
    color: "#00B341",
  },
  is_sending: {
    name: "Отправляется",
    // generate gray color
    color: "#808080".replace(/0/g, () => (~~(Math.random() * 16)).toString(16)),
  },
};

const { data: formItems } = await apiClient.api.forms_sent_items.get({
  $query: {
    limit: "10",
    offset: "0",
    fields: "id,created_at,status,model,model_id,opened_at,opened_by",
    filters: JSON.stringify([
      {
        field: "form_id",
        operator: "eq",
        value: id,
      },
    ]),
  },
  $headers: {
    Authorization: `Bearer ${accessToken}`,
  },
});
---

<ProfileLayout>
  <div class="space-y-5 lg:space-y-8">
    <a
      class="inline-flex items-center gap-x-1.5 text-sm text-gray-600 decoration-2 hover:underline dark:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
      href="/profile/forms"
    >
      <svg
        class="flex-shrink-0 w-4 h-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"><path d="m15 18-6-6 6-6"></path></svg
      >
      Вернуться к списку
    </a>
    <h2 class="text-3xl font-bold lg:text-5xl dark:text-white">
      {data.name}
    </h2>
    <div class="flex items-center gap-x-5">
      <span
        class="inline-flex items-center gap-1.5 py-1 px-3 sm:py-2 sm:px-4 rounded-full text-xs sm:text-sm bg-gray-100 text-white hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-800 dark:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        style={{
          backgroundColor: statuses[data.status as keyof typeof statuses].color,
        }}
      >
        Статус: {statuses[data.status].name}
      </span>
      <p class="text-xs sm:text-sm text-gray-800 dark:text-gray-200">
        {dayjs(data.created_at).locale("ru").format("MMMM D, YYYY")}
      </p>
    </div>
    {
      countStatistics && (
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
          <div class="flex flex-col border rounded-xl dark:border-gray-800">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <p class="text-sm font-semibold text-gray-500">Открыто форм</p>
                <div class="hs-tooltip">
                  <div class="hs-tooltip-toggle">
                    <svg
                      class="flex-shrink-0 w-4 h-4 text-gray-500"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <>
                        <circle cx="12" cy="12" r="10" />
                        <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
                        <path d="M12 17h.01" />
                      </>
                    </svg>
                    <span
                      class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-slate-700 hidden"
                      role="tooltip"
                      style="position: fixed; inset: auto auto 0px 0px; margin: 0px; transform: translate(52px, -151px);"
                      data-popper-placement="top"
                    >
                      Кол-во открытий формы в рассылке
                    </span>
                  </div>
                </div>
              </div>

              <h3 class="mt-2 text-2xl sm:text-3xl lg:text-4xl text-gray-800 dark:text-gray-200">
                <span class="font-semibold">{countStatistics.opened}</span>{" "}
                <span class="text-gray-500">/ {countStatistics.cnt}</span>
              </h3>
            </div>
          </div>
          <div class="flex flex-col border rounded-xl dark:border-gray-800">
            <div class="p-4 md:p-5">
              <div class="flex items-center gap-x-2">
                <p class="text-sm font-semibold text-gray-500">
                  Заполнено форму
                </p>
                <div class="hs-tooltip">
                  <div class="hs-tooltip-toggle">
                    <svg
                      class="flex-shrink-0 w-4 h-4 text-gray-500"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <>
                        <circle cx="12" cy="12" r="10" />
                        <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
                        <path d="M12 17h.01" />
                      </>
                    </svg>
                    <span
                      class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-slate-700 hidden"
                      role="tooltip"
                      style="position: fixed; inset: auto auto 0px 0px; margin: 0px; transform: translate(52px, -151px);"
                      data-popper-placement="top"
                    >
                      Кол-во заполнений формы
                    </span>
                  </div>
                </div>
              </div>

              <h3 class="mt-2 text-2xl sm:text-3xl lg:text-4xl text-gray-800 dark:text-gray-200">
                <span class="font-semibold">{countStatistics.filled}</span>{" "}
                <span class="text-gray-500">/ {countStatistics.cnt}</span>
              </h3>
            </div>
          </div>
        </div>
      )
    }
    <div>
      <h3 class="text-2xl font-bold lg:text-3xl dark:text-white mb-3">
        Список рассылок
      </h3>

      <ProfileFormsSentItemsProvider
        client:load
        formId={id}
        initialData={formItems}
      />
    </div>
  </div>
</ProfileLayout>
