---
import BaseLayout from "@frontend/src/layouts/BaseLayout.astro";
import { apiClient } from "@frontend/src/utils/eden";
import Timeline from "@frontend/src/components/sp-ticket-timeline/timeline.astro";
import CommentCard from "@frontend/src/components/sp-ticket-timeline/CommentCard.astro";
export const prerender = false;

const accessToken = Astro.cookies.get("x-token")?.value;

if (!accessToken) {
  return {
    status: 302,
    headers: {
      location: "/login",
    },
  };
}
const { id } = Astro.params;

if (!id) {
  return statusRender(404, `${Astro.site}404`);
}

const { data: spTicketById } = await apiClient.api.sp_tickets[id].get({
  $headers: {
    Authorization: `Bearer ${accessToken}`,
  },
});

const { data: spTicketTimeline } = await apiClient.api.sp_ticket_timeline[
  id
].get({
  $headers: {
    Authorization: `Bearer ${accessToken}`,
  },
});
---

<BaseLayout>
  <div class="flex justify-around">
    <!-- Comment card -->
    <CommentCard spTicket={spTicketById} />
    <!-- Timeline -->
    <Timeline timeline={spTicketTimeline} />
  </div>
</BaseLayout>
